/* Scss Document */

@charset "UTF-8";

/* CSS Document */
@import "_variables.scss";

.chat-window {
    width: 100%;
    font-size: 1.4rem;
    padding: 6rem 2rem 2rem;
    .input_field{
        .bot_wrap{
            @include flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.8rem;
            margin-top: 2rem;
            animation: fadeIn 0.5s ease-out;
            figure{
                width: 4rem;
            }
            .question{
                font-size: 1.4rem;
                line-height: 1;
                background: #fff;
                padding: 1rem 2rem;
                max-width: 70%;
                border-radius: 1rem;
                line-height: 1.3;
            }
        }
        .option_wrap{
            width: 100%;
            @include flex-column;
            align-items: flex-end;
            gap: 0.4rem;
            margin-top: 2rem;  
            .button{
                width: 100%;
                @include flex;
                justify-content: flex-end;
                input{
                    display: none;
                }
                label{
                    cursor: pointer;
                    width: 70%;
                    padding: 1rem 2rem;
                    border-radius: 3rem;
                    background: #fff;
                    text-align: center;
                    font-size: 1.4rem;
                    @include flex;
                    &.selected_option{
                        background: #79E278;
                        width: auto;
                        max-width: 70%;
                        text-align: left;
                    }
                }
            }
        }
    }
}